# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
CICDDemo/I/Debug-iphoneos/CICDDemo.app/CICDDemo
CICDDemo/I/Debug-iphoneos/CICDDemo.app/embedded.mobileprovision
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Info.plist
CICDDemo/I/Debug-iphoneos/CICDDemo.app/libswiftRemoteMirror.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/PkgInfo
CICDDemo/I/Debug-iphoneos/CICDDemo.app/_CodeSignature/CodeResources
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Base.lproj/Main.storyboardc/Info.plist
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/CICDDemo.momd/CICDDemo.mom
CICDDemo/I/Debug-iphoneos/CICDDemo.app/CICDDemo.momd/CICDDemo.omo
CICDDemo/I/Debug-iphoneos/CICDDemo.app/CICDDemo.momd/VersionInfo.plist
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftCore.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftCoreData.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftCoreFoundation.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftCoreGraphics.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftCoreImage.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftDarwin.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftDispatch.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftFoundation.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftMetal.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftObjectiveC.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftos.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftQuartzCore.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftSwiftOnoneSupport.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.app/Frameworks/libswiftUIKit.dylib
CICDDemo/I/Debug-iphoneos/CICDDemo.swiftmodule/arm64.swiftdoc
CICDDemo/I/Debug-iphoneos/CICDDemo.swiftmodule/arm64.swiftmodule
